.frInput {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    margin: 10px;
}

.frQuestion {
    font-weight: bold;
    margin: 5px;
}

.frInputText {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.frYesNo {
    margin: 10px;
}

.frRadio {
    width: 150px;
    float: left;
}

.frRadio span {
    margin: 10px;
}