* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container:after {
    content: "";
    clear: both;
    display: table;
}

.col {
    width: 50%;
    float: left;
}

h2 {
    margin: 15px;
    text-align: center;
}

.fbInput {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    margin: 10px;
}